<div>
  <%= link_to "戻る", groups_path %>
  <div>グループに参加しましょう！</div>
  <% @groups.each do |group| %>
    <div>
      <div><%= group.name %></div>
      <div><%= group.promotion %></div>
      <div>メンバー数: <%= group.users.length %>人</div>
    </div>
  <% end %>
</div>