.group-wrapper {
  display: flex;
}

/* サイドバー */
.side-bar {
  width: 200px;
  height: 100vh;
  background-color: royalblue;
}
.side-bar-header {
  height: 100px;
  border: solid 1px;
}

.group {
  padding-top: 40px;
} 


/* グループ（中央） */
.current-group {
  width: 900px;
  height: 100vh;
  background-color: skyblue;
}
.current-group-header {
  height: 100px;
  border: solid 1px;
}

.main-heading {
  display: flex;
}

.members {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.member-box {
  /* background-color:rgb(109, 162, 173); */
  /* background-color: rgb(166, 199, 206); */
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(248, 246, 246);
  height: 240px;
  width: 240px;
  /* margin: 40px 90px; */
  border: solid 1px rgb(165, 162, 162);
  /* position: relative; */
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: 0.3s;
}


/* チャット（右側） */
.chat {
  width: 340px;
  height: 100vh;
  background-color: green;
}
.chat-header {
  height: 100px;
  border: solid 1px;
}

.chat-main {
  height: calc(100vh - 100px - 100px);
  overflow: scroll;
}

.chat-form {
  height: 100px;
  border: solid 1px;
}
.content-form {
  height: 80px;
  width: 250px;
  margin-left: 10px;
  margin-top: 10px;
}
.content-submit {
  font-size: 12px;
  margin-left: 10px;
}



/* グループ一覧ページ */

.group-area {
  margin-top: 20px;
  border: solid 1px;
}


/* グループ新規作成ページ */

.to-calender {
  margin-bottom: 10px;
}

.new-group-wrapper {
  margin-top: 100px;
  margin-left: 470px;
  width: 500px;
  border: solid 1px rgb(204, 202, 202);
}

.new-group-title {
  margin-bottom: 50px;
  font-size: 25px;
  color: rgb(182, 179, 179); 
}

.new-group-form {
  margin-top: 30px;
  margin-left: 125px;
}

.group-name-input {
  width: 250px;
  height: 35px;
  margin-bottom: 30px;
  background-color: rgb(247, 244, 244);
  border: solid 1px rgb(223, 219, 219);
}

.group-promotion-input {
  width: 250px;
  height: 140px;
  margin-bottom: 30px;
  background-color: rgb(247, 244, 244);
  border: solid 1px rgb(223, 219, 219);
}


.input-submit {
  width: 250px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
  background-color: rgb(152, 225, 243);
  border: solid 1px rgb(152, 225, 243);
  border-radius: 10px;
  cursor: pointer;
}
.input-submit:hover {
  background-color: rgb(105, 213, 240);
}
