
/* ヘッダー */
header {
  /* background-image: url("head1"); */
  /* background-size: 480 230; */
  /* background-repeat: no-repeat; */
  /* background-color: rgb(230, 230, 233); */
  border-bottom: double 3px rgb(170, 168, 168);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.app-title {
  font-size: 35px;
  /* font-weight: bold; */
  margin-left: 80px;
  /* color: black;*/
  text-shadow: 1px 1px 1px #302b2b;
  color: #afacac;
  /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2); */
}

.header-right {
  display: flex;
  margin-top: 5px;
  margin-right: 40px;
}

.instagram-icon {
  font-size: 2.5em;
  margin-right: 20px;
  margin-top: 5px;
  color: rgb(241, 74, 241);
}

.facebook-icon {
  font-size: 2.5em;
  margin-right: 20px;
  margin-top: 5px;
  color: #4d8cf1;
}

.twitter-icon {
  font-size: 2.5em;
  margin-right: 20px;
  margin-top: 5px;
  color: #75A9FF;
}

.header-icon {
  height: 50px;
  width: 50px;
  text-align: right;
  margin-right: 20px;
  margin-left: 30px;
  border-radius: 50%;
}


/* ヘッダー以下全体 */
.wrapper {
  /* height: calc(100vh - 200px); */
  /* background-image: url("main6"); */
  /* background-size: 100%; */
  background-color:rgb(228, 225, 225);
  height: 1574px;
  display: flex;
}


/* メイン */
.main {
  /* background-color: rgb(225, 225, 245); */
  width: calc(100vw - 240px);
  /* overflow: scroll; */
  z-index: 1;
}

.contents {
  margin-top: 30px;
  /* display: flex; */
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.upper-content {
  display: flex;
  height: 80px;
  margin-left: 50px;
}

.calender-form {
  margin-top: 25px;
  margin-left: 60px;
}

.date-input {
  width: 210px;
  height: 40px;
}

.plan-input {
  width: 280px;
  height: 40px;
}

.submit-btn {
  height: 40px;
}

#quick-area {
  margin-left: 80px;
  display: flex;
  /* align-items: center; */
  cursor: pointer;
}


#quick-btn {
  background-color: rgb(206, 200, 200);
  padding-top: 15px;
  color:black;
  font-weight: bold;
  margin-bottom: 5px;
  border:solid 1px gray;
  font-weight: inherit;
  /* box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22); */
	transition: 0.3s;
  border-radius: 5px;
  /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2); */
}

.quick-btn-description {
  font-size: 11px;
}

.more_list {
  margin-left: 10px;
  display: none;
}

/* li {
  padding-left: 20px;
  width: 170px;
  background-color: rgb(187, 183, 183);
  color:black;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
  border:solid 1px gray;
  font-weight: inherit;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
} */

.menu {
  color: black;
}
.menu:hover {
  color: rgb(214, 26, 26);
  cursor: pointer;
}

.achieve-done {
  background-color: rgb(247, 247, 115);
}

.instagram-icon2 {
  font-size: 2em;
  margin-left: 10px;
  color: rgb(236, 65, 236);
}

.facebook-icon2 {
  font-size: 2em;
  margin-left: 10px;
  color: #4083f0;
}

.twitter-icon2 {
  font-size: 2em;
  margin-left: 10px;
  color: #659ef8;
}


.calender {
  display: flex;
  margin-top: 25px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.content {
  /* background-color:rgb(109, 162, 173); */
  /* background-color: rgb(166, 199, 206); */
  background-color: rgb(248, 246, 246);
  height: 240px;
  width: 240px;
  /* margin: 40px 90px; */
  border: solid 1px rgb(165, 162, 162);
  /* position: relative; */
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: 0.3s;
}

.content:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(209, 206, 206, 0.9);
	transform: translateY(-8px);
}

.date {
  /* font-weight: bold; */
  font-size: 18px;
  text-align: center;
}


.plan {
  height: 170px;
  width: 220px;

  /* background-color:rgb(141, 188, 197); */
  background-color: rgb(201, 238, 248);
  margin-left: 10px;
  margin-top: 30px;
}



/* .plan-element-balloon {
  
  position: absolute;
  top: -30px;
  left: -15px;

  width: 250px;

 
  display: none;
  opacity: 0;

  
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: rgb(241, 237, 237);
  
  box-shadow: 1px 1px 2px 1px rgba(7, 29, 226, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);

  
  animation-duration: 0.5s;
  animation-name: show-balloon;
}

.plan-element-balloon::before {
  
  content: "";
  position: absolute;
  top: 97%;
  left: 20px;
  border: 6px solid transparent;
  border-top: 6px solid  rgb(241, 237, 237);
}

.plan-element:hover .plan-element-balloon {
  display: inline-block;
  opacity: 1;
  top: -40px;
}

@keyframes show-balloon {
  
  0% {
    display: none;
    opacity: 0;
    top: -30px;
  }
  1% {
    display: inline-block;
    opacity: 0;
    top: -30px;
  }
  100% {
    display: inline-block;
    opacity: 1;
    top: -40px;
  }
} */





.plan-element {
  cursor: pointer;
  font-weight: bold;
}
.plan-element:hover {
  border: solid 1px;
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(68, 67, 67, 0.9);
	transform: translateY(-3px);
  display: block;
}


.plan-delete {
  text-align: right;
  font-size: 14px;
  display: none;
  color: rgb(59, 58, 58);
}

.plan-element:hover .plan-delete {
  display: block;
}
.plan-delete-btn:hover {
  color: rgb(177, 16, 16);
}



a {
  text-decoration: none;
}




/* サイドバー */
.side {
  background-color: rgb(202, 205, 212);
  /* background-image: url("main6"); */
  /* border: solid 1px rgb(192, 187, 187); */
  width: 240px;
}

.introduction {
  margin-top: 30px;
  height: 345px;
  border-bottom: solid 1px rgb(155, 151, 151);
}

/* .show-area {

} */


.introduction-image {
  height: 120px;
  width: 120px;
  margin-left: 65px;
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}
.introduction-image:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(226, 36, 36, 0.9);
	transform: translateY(-8px);
}

.user-name {
  text-align: center;
  padding-top: 10px;
  text-align: center;
  color: black;
}

.description {
  padding-top: 30px;
  padding-left: 10px;
  margin-bottom: 40px;
}


.point-area {
  height: 120px;
  border-right: solid 1px rgb(155, 151, 151);
  border-left: solid 1px rgb(155, 151, 151);
}
.point-head {
  padding-top: 25px;
  text-align: center;
}
.user-point {
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
  color: green;
  font-weight: bold;
}


.continuation-area {
  height: 120px;
  border: solid 1px rgb(155, 151, 151);
}
.continuation-head {
  padding-top: 25px;
  text-align: center;
}
.continuation-days {
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
  color: green;
  font-weight: bold;
}


.recommended {
  text-align: center;
  height: 240px;
}

.link-wrapper {
  padding-top: 50px;
}


.recommended-link {
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  padding: 8px;
  font-size: 18px;
  color: black;
  border:solid 1px gray;
  border-style: outset;
  border-image: initial;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2); */
}
.recommended-link:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(226, 36, 36, 0.9);
	transform: translateY(-8px);
}

.groups-wrapper {
  padding-top: 60px;
}

.groups-link {
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  padding: 8px;
  font-size: 18px;
  color: black;
  border:solid 1px gray;
  border-style: outset;
  border-image: initial;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
}
.groups-link:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(226, 36, 36, 0.9);
	transform: translateY(-8px);
}


.side-btns {
  margin-top: 50px;
}

.side-btn {
  padding: 4px;
  color: black;
  border:solid 1px gray;
  border-style: outset;
  border-image: initial;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.side-btn:hover {
  color: rgb(219, 21, 21);
}

.btn-margin {
  margin-top: 8px;
}

.side-copy {
  height: 240px;
  text-align: center;
  background-color: white;
  font-size: 30px;
  padding-top: 80px;
}

.side-image {
  height: 480px;
  /* background-image: url("side2"); */
}
.side-2 {
  height: 480px;
  position: relative;
  left: -90px;
}




/* フッター */
footer {
  background-color: rgb(108, 109, 112);
  height: 100px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.footer-title {
  font-size: 25px;
  text-shadow: 3px 3px 3px #302b2b;
  color: #faf5f5;
  text-align: center;
  padding-top: 30px;
}

.logout-btn {
  text-align: right;
  margin-right: 5px;
}
.logout:hover {
  color: rgb(151, 25, 25);
}



/* 詳細ページ */

.show-head {
  padding-top: 5px;
  text-align: right;
  background-color: rgb(228, 232, 241);
}

.show-header-right {
  margin-right: 20px;
  color: black;
  padding: 4px;
  border:solid 1px gray;
  border-style: outset;
  border-image: initial;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.show-header-right:hover {
  color: rgb(62, 62, 243);
}


.show-main {
  background-color: rgb(228, 232, 241);
}

.image-wrapper {
  display: flex;
}

.show-image {
  height: 400px;
  width: 500px;
  margin-top: 100px;
  margin-left: 470px;
}

.show-image2 {
  height: 200px;
  width: 300px;
  margin-top: 100px;
  margin-left: 100px;
}

.title-wrapper {
  margin-top: 50px;
  font-size: 25px;
}

.title {
  margin-left: 100px;
  font-weight: bold;
}

.content-wrapper {
  padding: 50px 30px;
}

.under-area {
  display: flex;
  justify-content: space-between;
}


#iine {
  cursor: pointer;
  font-size: 1.5em;
}

#iine:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}

.iine-length {
  font-size: 11px;
}






/* 新規投稿ページ */

.preview {
  height: 250px;
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
}

#preview {
  display: flex;
}

.btn-wrapper {
  display: flex;
}

.delete-btn {
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  width: 35px;
  color:black;
  border:solid 1px gray;
  font-weight: inherit;
  position: relative;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.delete-btn:hover {
  color: blue;
}

.edit-btn {
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  width: 35px;
  color:black;
  border:solid 1px gray;
  font-weight: inherit;
  position: relative;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

.edit-btn:hover {
  color: blue;
}

#click-file {
  margin-bottom: 20px;
  width: 180px;
  color:black;
  border:solid 1px gray;
  font-weight: inherit;
  position: relative;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 1px 0 0 rgba(255, 255, 255, 0.3),
    inset -1px 0 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

#click-file:hover {
  color: blue;
}

.file-input {
  display: none;
}


/* 編集ページ */

.show-wrapper {
  background-color: rgb(228, 232, 241);
  height: 100vh;
}


/* 検索ページ */





/* レスポンシブ化 */

@media (max-width: 1024px) {
  p {
    font-size: 14px;
  }
  .side {
    width: 30%;
  }
  .main {
    width: calc(100vw - 30%);
  }

  .content {
    height: 287px;
    width: 287px;
    margin: 11px 25px;
  }
}


@media (max-width: 599px) {
  p {
    font-size: 10px;
  }
  .side {
    width: 30%px;
  }
  .main {
    width: calc(100vw - 30%);
  }
}


/* チャート画面 */

.chart-head {
  display: flex;
  justify-content: space-between;
}