@media (max-width: 1024px) {
  p {
    font-size: 14px;
  }
  .side {
    width: 30%;
  }
  .main {
    width: calc(100vw - 30%);
  }

  .content {
    height: 287px;
    width: 287px;
    margin: 11px 25px;
  }
}


@media (max-width: 599px) {

  /* メイン画面 */

  body {
    height: 800px;
  }

  .app-title{
    font-size: 15px;
    margin-left: 20px;
  }
  .header-icon {
    display: none;
  }

  p {
    font-size: 10px;
  }

  .wrapper {
    height: calc(800px - 150px);
  }

  .side {
    width: 30%;
  }
  .introduction{
    height: 220px;
  }
  .introduction-image{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-top: 0px;
  }
  .description {
    font-size: 12px;
  }
  .point-head{
    font-size: 14px;
  }
  .continuation-head{
    font-size: 14px;
  }
  .user-point{
    font-size: 20px;
  }
  .continuation-days{
    font-size: 20px;
  }


  .recommended {
    height: 160px;
  }
  .link-wrapper{
    padding-top: 30px;
  }
  .recommended-link{
    font-size: 12px;
  }
  .groups-wrapper{
    padding-top: 40px;
  }
  .groups-link{
    font-size: 12px;
  }
  .side-copy {
    height: 120px;
    font-size: 15px;
    padding-top: 40px;
    color: white;
    background-color: rgb(65, 64, 64);
    border-top: solid 1px rgb(114, 112, 112);
  }

  .side-image {
    display: none;
  }
  .side-2{
    display: none;
    height: 150px;
    left: 0px;
  }




  .main {
    width: calc(100vw - 30%);
  }

  .upper-content {
    height: 80px;
    margin-left: 10px;
  }
  .calender-form {
    width: 150px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .date-input {
    width: 130px;
    height: 20px;
  }
  .plan-input {
    width: 130px;
    height: 20px;
  }
  .submit-btn {
    height: 25px;
  }
  #quick-area {
    margin-left: 0px;

  }
  #quick-btn {
    padding: 0;
    display: none;
  }
  .quick-btn-head{
    font-size: 1px;
  }

  .more_list {
    display: block;
  }
  .menu {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contents{
    padding-top: 15px;
  }
  .content {
    height: 70px;
    width: 75px;
    margin: 5px 5px;
  }
  .date {
    font-size: 1px;
  }
  .plan {
    height: 40px;
    width: 62px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .plan-element{
    display: none;
    font-size: 1px;
  }
  .plan-element:first-child{
    display: block;
  }
  /* ↑noneで全部消しておいて、あとから最初の１つだけ表示するようにしている。 */

  .achieve-check {
    height: 8px;
    width: 8px;
  }

  footer {
    display: none;
  }


  /* ユーザー

  ログインページ */

  .login-wrapper {
    margin-top: 10px;
    margin-left: 0;
    width: 350px;
    border: none;
  }
  .login-form{
    margin-left: 70px;
  }

  /* 新規登録ページ */

  .signup-wrapper {
    margin-top: 10px;
    margin-left: 0;
    width: 350px;
    border: none;
  }
  .signup-form{
    margin-left: 70px;
  }
  .to-login-wrapper{
    margin-left: 70px;
  }


  /* グループページ */

  .group-wrapper {
    display: initial;
  }
  /* ↑横並びを解除 */

  .side-bar {
    width: 100vw;
    height: 300px;
    overflow: scroll;
  }

  .current-group {
    width: 100vw;
  }
  .center-group-name{
    margin-right: 10px;
    padding-left: 0;
    font-size: 17px;
  }
  .members{
    overflow: scroll;
  }
  .member-box{
    margin-top: 10px;
  }

  .chat{
    width: 100vw;
  }
  .content-form{
    width: 350px;
  }


  /* グループ作成ページ */

  .new-group-wrapper{
    margin-top: 10px;
    margin-left: 0;
    width: 350px;
    border: none;
  }
  .new-group-form{
    margin-left: 70px;
  }


  /* グループ検索ページ */

  .group-index-form{
    margin-left: 10px;
  }
  .group-index-wrapper {
    width: 100vw;
    margin-left: 0;
  }
  .group-area {
    width: 370px;
  }

}