<div class="chart-head">
  <h2>達成ステータス</h2>
  <%= link_to "戻る", root_path %>
</div>

<canvas id="myBarChart"></canvas>
<script>
  var ctx = document.getElementById("myBarChart");
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: gon.days,
      datasets: [
        {
          label: '継続日数',
          data: gon.runs,
          backgroundColor: "rgba(130,201,169,0.5)"
        },{
          label: 'プランの総達成回数',
          data: gon.achievements_array,
          backgroundColor: "rgba(219,39,91,0.5)"
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: '継続日数とプランの達成回数'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 300,
            suggestedMin: 0,
            stepSize: 30,
            callback: function(value, index, values){
              return  value +  ''
            }
          }
        }]
      },
    }
  });
  </script>


