<header>
  <h2 class="blog-title">JavascriptBlog</h2>
    <div class="tags">
      <%= link_to "新規投稿", "#", class: "new-blog" %>
    </div>
</header>

<div class="wrapper">

  <div class="side">
    <div class="introduction">
      <div class="user-name">yoritomiくん</div>
      <div class="description">プログラミングに関する記事を書いています。<br>最初はJavascript中心に書いていく予定。</div>
    </div>
    <p>記事検索</p>
    <div class="side-btns"> 
    </div>
    <div class="recommended">
      <p class="popular-text">＜人気の記事＞</p>
    </div>
  </div>

  <div class="main">
    <div class="contents">
    </div>
  </div>
  
</div>

<footer>
  <h4>JavascriptBlog</h4>
</footer>
